doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Anthony Veaudry's Profile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel='stylesheet', href='css/styles.css')
  body
    div.content
      header.clearfix
        h1.student-name.fleft Student Name
        nav.fright.nav
          ul
            li
              a(href="#") home
            li
              a(href="#portfolio") portfolio
            li
              a(href="#contact") contact
        img(src="images/responsive-layout-profile.png", alt="A profile photo").profile.fright
        p.intro-text.fleft
          | Hi! I'm a front-end developer who loves responsive design and css.
          | I recently finished a degee in front-end web development at Treehouse
          | and am exited to put all my skills to use!
      main.clearfix
        h2#portfolio Portfolio
        div.project
          img(src="images/portfolio-1.png", alt="Photo of the marketing page")
          h3 Marketing Page
          p This project show the front page of a marketing website meant for a specific buisiness I'm interested in.
        div.project
          img(src="images/portfolio-2.png", alt="Photo of the marketing page")
          h3 Serch Page
          p This project serches through a specific database to find information that the user is trying to look up.
        div.project
          img(src="images/portfolio-3.png", alt="Photo of the marketing page")
          h3 Travel App
          p This project compares travel times based on diferent transportation methods and tells you the best one.
        div.project
          img(src="images/portfolio-4.png", alt="Photo of the marketing page")
          h3 Map of Favorite Spots
          p This project uses mapping apis to plot points for my favorite spots in the city for a do-it-yourself walking tour.
        div.project
          img(src="images/portfolio-5.png", alt="Photo of the marketing page")
          h3 Photo Gallery
          p This project shows pictures for a recent trip to the viewer and allows them to easily navigate through photos.
        div.project
          img(src="images/portfolio-6.png", alt="Photo of the marketing page")
          h3 calculator
          p Someone can enter in the numbers they want, and press the big blue button and get the result.
      footer
        h2#contact Contact
        p.contact If you're interested in chatting or want more information about what I've been working on, I'd love to hear from you!
        address
          span Phone 
          a(href="tel:+11115551234") +1 (111)555-1234 <br>
          span Email 
          a(href="mailto:email@yoursite.com") email@yoursite.com
        hr
        div.nav.clearfix
          span.fleft
            a(href="#") Student name
          span.fright
            a(href="#").to-top BACK TO TOP
          nav.fright.nav.bottom
            ul
              li
                a(href="#") home
              li
                a(href="#portfolio") portfolio
              li
                a(href="#contact") contact











